[submodule "jdks/openjdk"]
	path = jdks/openjdk
	url = https://github.com/openjdk/jdk
[submodule "profilers/async-profiler"]
	path = profilers/async-profiler
	url = https://github.com/async-profiler/async-profiler
[submodule "jdks/jdk21u"]
	path = jdks/jdk21u
	url = git@github.com:openjdk/jdk21u.git
[submodule "profilers/async-profiler-2.9"]
	path = profilers/async-profiler-2.9
	url = git@github.com:async-profiler/async-profiler.git
[submodule "jdks/openjdk_jfr_patched"]
	path = jdks/openjdk_jfr_patched
	url = git@github.com:parttimenerd/jdk
	branch = parttimenerd_ns_jfr_interval
